.header-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  z-index: 999999;
  background: rgb(2, 23, 39);
  overflow: hidden;
  font-size: 1.3vw;
  height: max-content;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.logo-text {
  margin-left: 2em;
  color: #f3f3f3;
}

.navbar {
  position: relative;
  left: -5em;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
}

.nav-item {
  position: relative;
}

.nav-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 3px;
  width: 0;
  border-radius: 2px;
  background-color: #D49BB0;
  transition: 0.4s ease;
}

.nav-item:hover::after {
  width: 100%;
}

.navbar li {
  list-style: none;
}

.navbar li a {
  text-decoration: none;
  color: #f3f3f3;
  margin-left: 1.5em;
  align-items: center;
}

.nav li a:hover {
  color: #D49BB0;
  transform: translateY(5px);
}

@media only screen and (max-width: 480px) {
  .logo-text {
    font-size: 3vw;
  }

  .nav-item {
    visibility: hidden;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .nav-item {
    visibility: hidden;
  }

  .logo-text {
    font-size: 2vw;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .logo-text {
    font-size: 1.5vw;
    margin-right: 0;
  }

  .nav-item{
    top: .5em;
    font-size: 1.5vw;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1200px){
  .nav-item{
    font-size: 1.4vw;
  }
}

