<nav class="header-container container-fluid">
  <div class="navbar-brand">
    <span class="logo-text"><b>#LKsmartTech</b></span>
  </div>

  <div class="navbar col-md-8">
    <ul class="navbar-nav">
      <li><a href="#inicio" class="nav-item" (click)="goHome()">Inicio</a></li>
      <li><a href="#sobre" class="nav-item" (click)="goHome()">Sobre mim</a></li>
      <li><a href="#projetos" class="nav-item" (click)="goHome()">Projetos</a></li>
      <li><a href="https://wa.me/5551997445228" class="contact" target="_blank" (click)="goHome()">Contato</a></li>
    </ul>
  </div>
</nav>
