<nav class="header-container container-fluid">
    <div class="navbar-brand">
        <span class="logo-text"><b>#LKsmartTech</b></span>
    </div>

  <div class="navbar col-md-8">
    <ul class="navbar-nav">
      <li><a href="#inicio" class="nav-item">Inicio</a></li>
      <li><a href="#sobre" class="nav-item">Sobre mim</a></li>
<!--      <li><a href="#educacion" class="nav-item">Certificados</a></li>-->
      <li><a href="#experiencia" class="nav-item">Experiência profissional</a></li>
<!--      <li><a href="#skills" class="nav-item">Hard & Soft Skills</a></li>-->
      <li><a href="#projetos" class="nav-item">Projetos</a></li>
    </ul>
  </div>
</nav>
