<section class="projetos" id="projetos">
  <div class="projetos-container-fluid">
    <div class="titulo">
      <h2>Projetos de estudo:</h2>
    </div>
    <div class="projetos-cards-container">
      <swiper [config]="config" class="projeto_cards my-swiper my_swiper"
              style="--swiper-navigation-color: #D9A0BB;--swiper-pagination-color: #D9A0BB">
        <ng-template *ngFor="let Projetos of projetos" class="swiper_slide swiper-slide" swiperSlide>
          <div class="projeto-card">
            <div class="projeto-header" id="projeto-header">
              <img alt="Imagem do projeto {{Projetos.nome}}" src={{Projetos.img}}>
            </div>
            <div class="projeto-conten">
              <h3 class="nome" id="nome">{{Projetos.nome}}</h3>
              <p class="descricao" id="descricao">{{Projetos.descricao}}</p>
              <div _ngcontent-gum-c21="" class="buttons-vista">

                <!--                  //BOTOES DEPLOY E GIT-->
                <ng-container *ngIf="Projetos.gitPage">
                  <button _ngcontent-gum-c21="">
                    <a _ngcontent-gum-c21="" href={{Projetos.git}} target="_blank">
                      <fa-icon class="ng-fa-icon button" [icon]="faGithub"></fa-icon>
                    </a>
                  </button>
                  <button _ngcontent-gum-c21="">
                    <a _ngcontent-gum-c21="" href={{Projetos.gitPage}} target="_blank">
                      <fa-icon class="ng-fa-icon button" [icon]="faLaptopCode"></fa-icon>
                    </a>
                  </button>
                </ng-container>

<!--                      SOMENTE BOTÃO GITHUB-->
                <ng-container *ngIf="!Projetos.gitPage">
                  <button _ngcontent-gum-c21="">
                    <a _ngcontent-gum-c21="" href={{Projetos.git}} target="_blank">
                      <fa-icon class="ng-fa-icon button" [icon]="faGithub"></fa-icon>
                    </a>
                  </button>
                </ng-container>

              </div>
            </div>
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>

  <div class="projetos-container-fluid">
    <div class="titulo">
      <h2>Projetos profissionais:</h2>
    </div>

    <div id="wrapper">
      <div id="viewport" class="grid" data-mode="site" style="text-align: center; height: auto;">
        <div id="packery" style="width: 80%; position: relative; height: 150px;">


          <div class="item" style="height: 100px; width: 150px; cursor: pointer; position: absolute; left: 0px; top: 0px;">
            <div class="filler">
              <img src="./assets/GPU.png" alt="Banner" id="banner" class="img-fluid">
            </div>
            <div class="details hide" style="left: 26px; right: 26px; top: 168px; opacity: 1; display: none;">
              <h3 class="title" style="font-family: Verdana, Geneva, sans-serif; color: rgb(255, 255, 255); font-size: 30px;">Plano de Saúde Nacional</h3>
              <div class="desc" style="font-family: Verdana, Geneva, sans-serif; color: rgb(255, 255, 255); font-size: 15px;">WSD Web Service Directory</div>
            </div>
            <div class="overlay" style="inset: 0px; display: block;"></div>
          </div>

          <div class="item" style="height: 150px; width: 150px; cursor: pointer; position: absolute; left: 528px; top: 0px;">
            <div class="filler">
              <img src="./assets/TISS.png" alt="Banner" id="banner" class="img-fluid">
            </div>
            <div class="details hide" style="left: 26px; right: 26px; top: 168px; opacity: 1; display: none;">
              <h3 class="title" style="font-family: Verdana, Geneva, sans-serif; color: rgb(255, 255, 255); font-size: 30px;">Plano de Saúde Nacional</h3>
              <div class="desc" style="font-family: Verdana, Geneva, sans-serif; color: rgb(255, 255, 255); font-size: 15px;">Chat Intercâmbio</div>
            </div>
            <div class="overlay" style="inset: 0px; display: block;"></div>
          </div>



        </div>
        <div class="prev" style="display: none; background-color: white;">
        <div class="inner" style="background-color: black;"></div>
        </div>
        <div class="next" style="display: none; background-color: white;">
          <div class="inner" style="background-color: black;"></div>
        </div>
        <div class="alternativePrev" style="display: none;"></div>
        <div class="alternativeNext" style="display: none;"></div>
      </div>
    </div>


  </div>


</section>
