<section class="proyectos" id="proyectos">
  <div class="proyectos-container-fluid">
    <div class="titulo">
      <h2>Mis proyectos</h2>
      <button class="btn-agregar" routerLink="/agregarProyecto" *ngIf="isLogged">
        <fa-icon [icon]="faCirclePlus"></fa-icon>
      </button>
    </div>


    <div class="proyectos-cards-container">
      <swiper class="project_cards my-swiper my_swiper" [config]="config"
              style="--swiper-navigation-color: #D9A0BB;--swiper-pagination-color: #D9A0BB">
        <ng-template swiperSlide class="swiper_slide swiper-slide" *ngFor="let proyecto of proyectos">
          <div class="proyecto-card">
            <div class="buttons">
              <button routerLink="/editarProyecto/{{proyecto.id}}" *ngIf="isLogged">
                <fa-icon [icon]="faPenToSquare" class="icon"></fa-icon>
              </button>
              <button (click)="delete(proyecto.id)" *ngIf="isLogged">
                <fa-icon [icon]="faTrashCan" class="icon"></fa-icon>
              </button>
            </div>
            <div class="proyecto-header" id="proyecto-header">
              <img [src]="proyecto.imgP" alt="Imagen del proyecto {{proyecto.nombreP}}">
            </div>
            <div class="proyecto-contenido">
              <h3 class="nombre" id="nombre">{{proyecto.nombreP}}</h3>
              <p class="descripcion" id="descripcion">{{proyecto.descripcionP}}</p>
            </div>
          </div>
        </ng-template>
      </swiper>
    </div>


  </div>
</section>
