<div id="container">
  <div class="imgHeader">
    <img src="./assets/urlGpu.png" class="full-width-image">
  </div>
  <div class="main">
    <div class="tittle">
      <h1>Troca de Informação de Saúde Suplementar</h1>
    </div>
    <div class="imgGPU">
      <img src="./assets/GPU.png">
    </div>
    <br>
    <p class="text">
      O padrão TISS (Troca de Informação da Saúde Suplementar) foi criado com o objetivo de garantir padronização e uniformidade na troca de informações
      entre as operadoras de saúde e a Agência Nacional de Saúde Suplementar (ANS), reduzindo riscos de inconformidades. O uso deste padrão é obrigatório
      segundo a ANS.
    </p>
    <br>
    <br>

    <p>
      <span style="font-weight:bold;">CENÁRIO</span>
      <br>
      Antes da migração, a Unimed operava com um sistema em JavaScript, suportado por uma arquitetura em Java 8. Contudo, a manutenção e o desenvolvimento
      do sistema tornaram-se complicados devido à complexidade das dependências e à necessidade de integrar diversas bibliotecas e frameworks.
    </p>

    <p>
      <span style="font-weight:bold;">SOLUÇÃO PROPOSTA</span>
      <br>
      Depois de avaliarmos diversos cenarios, identificamos que a melhor solução seria uma migração completa utilizando TypeScript e Angular no front-end,
      proporcionando uma base mais robusta e segura para o desenvolvimento de interfaces ricas e interativas, e no back-end, utilizar Java 17 e o
      framework Spring, aproveitando o que há de mais moderno e eficiente no desenvolvimento de aplicações Java.
    </p>

    <p>
      <span style="font-weight:bold;">RESULTADOS</span>
      <br>
      Além de correção de alguns bugs e melhorias propostas, também fizemos um sistema com layout mais moderno e intuitivo, e que oferece uma experiência de uso mais
      agradável ao usuário, além de proporcionar maior segurança, velocidade e estabilidade.
    </p>

  </div>
</div>
