#sobre {
  height: auto;
  width: 100vw;
  background: #031c30;
  border-top: 1px solid #ffffff;
}

.container-fluid {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.titulo {
  display: flex;
  color: #f3f3f3;
  font-size: 1.5em;
  letter-spacing: 1px;
  justify-content: center;
  padding-top: 3em;
  font-family: 'Cairo', sans-serif;
}

.container {
  display: flex;
  width: 100%;
}

.texto {
  font-size: 17px;
  width: 70%;
  margin: 0% 5%;
  color: rgb(255, 255, 255);
  min-height: 100vh;
  font-family: Poppins, sans-serif;

  .first {
    margin-top: 2px;
  }

  .tecnologias {
    margin-bottom: 5px;
  }

}

.foto {
  width: 30%;
  margin: 0 5% 10% 0;
}

@media only screen and (max-width: 480px) {
  .container {
    display: block;
    width: 100%;
  }

  .texto {
    width: 80%;
  }

  .foto {
    width: 100%;
    margin: 10% 10%;
  }
}

#banner {
  width: 70%;
  height: 70%;
}

.dmjoEk {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px 15px;
  width: 100%;
  flex-wrap: wrap;
}

.gFHncG {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: max-content;
  flex-wrap: wrap;

  p {
    margin: 0;
  }
}

span {
 color: rgb(144, 103, 198);
  margin-right: 5px;
}

//BOTAO DOWNLOAD CV
.button-CV {
  margin-top: 30px;
  margin-left: 5%;
}

.download-cv-btn {
  width: clamp(10rem, 35%, 20rem);
  height: 3rem;
  font-family: DM Sans;
  font-weight: 100;
  color: #f9f9f9;
  background-color: #5b319a;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

