<section id="sobre">
  <div class="container-fluid">
    <div class="titulo">
      <h2>Sobre mim:</h2>
    </div>
    <div class="container">
      <div class="texto">
        <p class="first">
          Olá! Meu nome é Lucas Alan Kuhn. Nasci em Arroio do Meio, Rio Grande do Sul,
          e sou graduado em Análise e Desenvolvimento de Sistemas pelo Centro Universitário Internacional - UNINTER.
        </p>
        <p>
          Em 2017, realizei um intercâmbio em Dublin, Irlanda, onde trabalhei e estudei por mais de dois anos. Retornei ao Brasil em setembro de 2019.
        </p>
        <p>
          Possuo 4 anos de experiência na área de TI. Minha primeira oportunidade foi em um estágio, onde adquiri experiência prática em suportes gerais e
          manutenção de computadores e periféricos eletrônicos. Também desenvolvi alguns projetos freelance.
          Mais recentemente, atuei na migração de sistemas ligados à área da saúde, que lidam com grande volume de dados e que atendem Unimeds de todo o Brasil.
        </p>
        <p class="tecnologias">
          Abaixo, segue algumas tecnologias das quais tenho experiência:
        </p>

        <div>
          <div class="sc-eqUzNf dmjoEk">
            <div  class="sc-eqUzNf gFHncG">
              <span>➤</span>
              <p>HTML</p>
            </div>
            <div class="sc-eqUzNf gFHncG">
              <span>➤</span>
              <p>SCSS</p>
            </div>
            <div class="sc-eqUzNf gFHncG">
              <span>➤</span>
              <p>TypeScript</p>
            </div>
            <div class="sc-eqUzNf gFHncG">
              <span>➤</span>
              <p>Angular</p>
            </div>
            <div class="sc-eqUzNf gFHncG">
              <span>➤</span>
              <p>Bootstrap</p>
            </div>
            <div class="sc-eqUzNf gFHncG">
              <span>➤</span>
              <p>Java</p>
            </div>
            <div class="sc-eqUzNf gFHncG">
              <span>➤</span>
              <p>Spring Framework</p>
            </div>
            <div class="sc-eqUzNf gFHncG">
              <span>➤</span>
              <p>Spring Boot</p>
            </div>
            <div class="sc-eqUzNf gFHncG">
              <span>➤</span>
              <p>Microsserviços</p>
            </div>
            <div class="sc-eqUzNf gFHncG">
              <span>➤</span>
              <p>OracleDB</p>
            </div>
            <div class="sc-eqUzNf gFHncG">
              <span>➤</span>
              <p>SQL</p>
            </div>
            <div class="sc-eqUzNf gFHncG">
              <span>➤</span>
              <p>MongoDB</p>
            </div>
            <div class="sc-eqUzNf gFHncG">
              <span>➤</span>
              <p>Docker</p>
            </div>
            <div class="sc-eqUzNf gFHncG">
              <span>➤</span>
              <p>Cloud</p>
            </div>
            <div class="sc-eqUzNf gFHncG">
              <span>➤</span>
              <p>Git / GitFlow</p>
            </div>
          </div>
        </div>

        <p>Mais detalhes sobre minhas experiências profissionais, podem ser encontradas no CV abaixo:</p>

        <div class="button-CV">
          <button (click)="downloadCv()" class="download-cv-btn">Download CV</button>
        </div>

      </div>
      <div class="foto">
        <img src="./dist/portfolio-lucas-kuhn/assets/minha-imagem.jpeg" alt="lucas sentando em seu ambiente de trabalho TESTE" id="banner" />
      </div>
    </div>

  </div>
</section>
