<div id="container">
  <div class="imgHeader">
    <img src="./dist/portfolio-lucas-kuhn/assets/urlGpu.png" class="full-width-image">
  </div>
  <div class="main">
    <div class="tittle">
      <h1>Gestão de protocolos da Unimed</h1>
    </div>
    <div class="imgGPU">
      <img src="./dist/portfolio-lucas-kuhn/assets/GPU.png">
    </div>
    <br>
    <p class="text">
      Foi criado para atender à Resolução Normativa RN Nº 395, de 14 de janeiro de 2016, permitindo que beneficiários em
      intercâmbio acompanhem suas questões junto à operadora do seu contrato através de um número de protocolo de atendimento.
      O GPU é uma plataforma que trafegam os protocolos gerados para os beneficiários de intercâmbio ou não
      clientes que necessitam de atendimento da Unimed.
    </p>
    <br>
    <br>

    <p>
      <span style="font-weight:bold;">CENÁRIO</span>
      <br>
      Antes da migração, a Unimed utilizava um sistema baseado em JavaScript com uma arquitetura em Java 8.
      No entanto, a manutenção e a evolução do sistema tornaram-se desafiadoras devido à complexidade das dependências
      e à necessidade de coordenação entre várias bibliotecas e frameworks.
    </p>

    <p>
      <span style="font-weight:bold;">SOLUÇÃO PROPOSTA</span>
      <br>
      Para simplificar e modernizar o sistema, propusemos uma migração completa para um novo stack tecnológico. No
      front-end, a escolha foi por TypeScript e Angular, proporcionando uma base mais sólida e segura para o desenvolvimento de
      interfaces ricas e interativas. Já no back-end, migramos para Java 17 e framework Spring, juntamente com sua ampla gama de
      dependências, que oferece uma abordagem mais moderna e simplificada para o desenvolvimento de aplicações Java.
    </p>

    <p>
      <span style="font-weight:bold;">RESULTADOS</span>
      <br>
      Com a migração, criamos um sistema com layout mais moderno e intuitivo, que oferece uma experiência de uso mais
      agradável ao usuário, além de proporcionar maior segurança, velocidade e estabilidade.
      <br>
      A transição para um stack mais moderno e eficiente não só atendeu às necessidades atuais da Unimed como também
      preparou o sistema para futuras expansões e melhorias contínuas.
    </p>

  </div>
</div>
