.container {
  margin: 0;
}

.main {
  height: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto; // Centraliza a div principal na página
}

h1 {
  font-size: 50px;
  font-family: sans-serif;
  line-height: 0.9em;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 100%;
}

.img img {
  max-width: 100%;
  height: auto;
}

p {
  font-size: 16px;             // Define o tamanho da fonte
  font-family: 'Raleway', sans-serif; // Define a fonte como Raleway, com fallback para sans-serif
  color: rgb(27, 27, 30);
  font-weight: normal;
}




